<div class="space-y-16">
  <section class="text-center bg-gray-900 py-10">
    <h2 class="text-4xl font-bold m-0 text-white">Nuestra Historia</h2>
    <ul
      class="timeline inline-flex timeline-vertical -mt-24 lg:timeline-horizontal p-8 rounded-lg"
    >
      <li>
        <div class="timeline-start text-blue-300">2022</div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5 text-blue-300"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div
          class="timeline-end timeline-box prose w-60 bg-gray-800 text-blue-100"
        >
          <p class="text-sm">
            Mientras estudiabamos en la Universidad de las Fuerzas Armadas ESPE,
            los fundadores de Saint Roche Microsystems se conocieron y
            comenzaron a colaborar en proyectos de software.
          </p>
        </div>
        <hr class="bg-blue-400" />
      </li>
      <li>
        <hr class="bg-blue-400" />
        <div class="timeline-start text-blue-300">2025</div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5 text-blue-300"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="timeline-end timeline-box w-60 bg-gray-800 text-blue-100">
          <p class="text-sm">
            En 2025, Saint Roche Microsystems se estableció oficialmente como
            una empresa de desarrollo de software, enfocándose en crear
            soluciones innovadoras y accesibles para empresas y desarrolladores.
          </p>
        </div>
        <hr class="bg-blue-400" />
      </li>
      <li>
        <hr class="bg-blue-400" />
        <div class="timeline-start text-blue-300">2027</div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5 text-blue-300"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="w-60 timeline-end timeline-box bg-gray-800 text-blue-100">
          <p class="text-sm">
            En 2027, la empresa creció y se expandió, lanzando varios productos
            exitosos y estableciendo una sólida reputación en la industria del
            software.
          </p>
        </div>
        <hr class="bg-blue-400" />
      </li>
      <li>
        <hr class="bg-blue-400" />
        <div class="timeline-start text-blue-300">2030</div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5 text-blue-300"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="timeline-end timeline-box w-60 bg-gray-800 text-blue-100">
          <p class="text-sm">
            En 2030, Saint Roche Microsystems se posicionó como un líder en el
            desarrollo de software, con un equipo talentoso y una visión clara
            para el futuro.
          </p>
        </div>
      </li>
    </ul>
  </section>

  <h2 class="text-4xl font-bold text-center mb-12">Conoce al Team</h2>
  <section class="container mx-auto px-20 my-8 grid grid-cols-2 justify-between gap-10">
    <div class="grid gap-8 sm:grid-cols-1">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h3 class="card-title">Olivier Paspuel</h3>
          <p class="text-sm text-gray-500">CTO & CEO</p>
          <div class="divider">Habilidades</div>
          <div class="flex flex-wrap gap-2">
            <div class="badge badge-primary gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"
                ></path>
                <path d="M5 3v4"></path>
                <path d="M19 17v4"></path>
                <path d="M3 5h4"></path>
                <path d="M17 19h4"></path>
              </svg>
              JavaScript
            </div>
            <div class="badge badge-primary gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
                ></path>
                <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                <line x1="9" x2="9.01" y1="9" y2="9"></line>
                <line x1="15" x2="15.01" y1="9" y2="9"></line>
              </svg>
              React
            </div>
            <div class="badge badge-primary gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M4 22h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2z"
                ></path>
                <path d="M9 12h6"></path>
                <path d="M12 9v6"></path>
              </svg>
              Node.js
            </div>
          </div>
        </div>
      </div>
      <!-- Carlos Hernández -->
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h3 class="card-title">Carlos Hernández</h3>
          <p class="text-sm text-gray-500">Data Analyst</p>
          <div class="divider">Habilidades</div>
          <div class="flex flex-wrap gap-2">
            <div class="badge badge-primary gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M12 2v4"></path>
                <path d="m16.24 7.76 2.83-2.83"></path>
                <path d="M18 12h4"></path>
                <path d="m16.24 16.24 2.83 2.83"></path>
                <path d="M12 18v4"></path>
                <path d="m4.93 19.07 2.83-2.83"></path>
                <path d="M2 12h4"></path>
                <path d="m4.93 4.93 2.83 2.83"></path>
              </svg>
              Python
            </div>
            <div class="badge badge-primary gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
                ></path>
              </svg>
              SQL
            </div>
            <div class="badge badge-primary gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path>
                <path d="M12 2v4"></path>
                <path d="m16.24 7.76 2.83-2.83"></path>
                <path d="M12 20v4"></path>
                <path d="m4.93 19.07 2.83-2.83"></path>
                <path d="M22 12h4"></path>
                <path d="m7.76 16.24 2.83 2.83"></path>
                <path d="M2 12h4"></path>
                <path d="m16.24 7.76 2.83-2.83"></path>
              </svg>
              TensorFlow
            </div>
          </div>
        </div>
      </div>
      <!-- Antonio Revilla -->
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h3 class="card-title">Antonio Revilla</h3>
          <p class="text-sm text-gray-500">QA Tester</p>
          <div class="divider">Habilidades</div>
          <div class="flex flex-wrap gap-2">
            <div class="badge badge-primary gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"
                ></path>
                <path d="M5 3v4"></path>
                <path d="M19 17v4"></path>
                <path d="M3 5h4"></path>
                <path d="M17 19h4"></path>
              </svg>
              Selenium
            </div>
            <div class="badge badge-primary gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
                ></path>
                <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                <line x1="9" x2="9.01" y1="9" y2="9"></line>
                <line x1="15" x2="15.01" y1="9" y2="9"></line>
              </svg>
              Jest
            </div>
            <div class="badge badge-primary gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M4 22h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2z"
                ></path>
                <path d="M9 12h6"></path>
                <path d="M12 9v6"></path>
              </svg>
              Cypress
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h3 class="card-title">Frederick Tipán</h3>
          <p class="text-sm text-gray-500">
            UI/UX Designer & Frontend developer
          </p>
          <div class="divider">Habilidades</div>
          <div class="flex flex-wrap gap-2">
            <div class="badge badge-primary gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path>
                <path d="M12 2v4"></path>
                <path d="m16.24 7.76 2.83-2.83"></path>
                <path d="M12 20v4"></path>
                <path d="m4.93 19.07 2.83-2.83"></path>
                <path d="M22 12h4"></path>
                <path d="m7.76 16.24 2.83 2.83"></path>
                <path d="M2 12h4"></path>
                <path d="m16.24 7.76 2.83-2.83"></path>
              </svg>
              Figma
            </div>
            <div class="badge badge-primary gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
                ></path>
              </svg>
              Adobe XD
            </div>
            <div class="badge badge-primary gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M12 2v4"></path>
                <path d="m16.24 7.76 2.83-2.83"></path>
                <path d="M18 12h4"></path>
                <path d="m16.24 16.24 2.83 2.83"></path>
                <path d="M12 18v4"></path>
                <path d="m4.93 19.07 2.83-2.83"></path>
                <path d="M2 12h4"></path>
                <path d="m4.93 4.93 2.83 2.83"></path>
              </svg>
              Sketch
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-base-100 h-fit">
      <img src="team.png" alt="" class="" srcset="" />
    </div>
  </section>
</div>
