<div class="container my-10 mx-auto">
  <div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="pc2.png" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-4xl font-bold leading-snug">
          Creamos las soluciones de software más
          <span class="text-primary"> innovadoras </span>
          !
        </h1>
        <p class="py-6">
          Somos una empresa dedicada a la creación de software y soluciones
          tecnológicas que transforman la forma en que las empresas operan y se
          conectan con sus clientes.
        </p>
        <button class="btn btn-primary">Contáctanos</button>
      </div>
    </div>
  </div>
  <div class="flex w-full flex-col">
    <div class="divider divider-primary"></div>
  </div>
  <div class="grid grid-cols-2">
    <h3 class="text-3xl font-semibold mx-10 text-left my-auto">
      Las empresas confían en nuestras soluciones
    </h3>
    <div class="carousel carousel-vertical rounded-box h-60 w-full">
      <div class="carousel-item w-full h-1/2">
        <img
          src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp"
          class="w-full"
        />
      </div>
      <div class="carousel-item w-full h-1/2">
        <img
          src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp"
          class="w-full"
        />
      </div>
      <div class="carousel-item w-full h-1/2">
        <img
          src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp"
          class="w-full"
        />
      </div>
      <div class="carousel-item w-full h-1/2">
        <img
          src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.webp"
          class="w-full"
        />
      </div>
      <div class="carousel-item w-full h-1/2">
        <img
          src="https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp"
          class="w-full"
        />
      </div>
      <div class="carousel-item w-full h-1/2">
        <img
          src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.webp"
          class="w-full"
        />
      </div>
      <div class="carousel-item w-full h-1/2">
        <img
          src="https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.webp"
          class="w-full"
        />
      </div>
    </div>
  </div>
  <div class="divider divider-primary"></div>

  <div class="grid gap-4 grid-cols-4">
    <div class="card bg-base-100 h-40">
      <div class="card-body text-center">
        <h2 class="font-semibold text-primary text-3xl">3600</h2>
        <p>Proyectos desplegados a nivel nacional e internacional</p>
      </div>
    </div>

    <div class="card bg-base-100 h-40">
      <div class="card-body text-center">
        <h2 class="font-semibold text-primary text-3xl">150</h2>
        <p>Clientes satisfechos con nuestras soluciones</p>
      </div>
    </div>
    <div class="card bg-base-100 h-40">
      <div class="card-body text-center">
        <h2 class="font-semibold text-primary text-3xl">10</h2>
        <p>Años de experiencia en el desarrollo de software</p>
      </div>
    </div>
    <div class="card bg-base-100 h-40">
      <div class="card-body text-center">
        <h2 class="font-semibold text-primary text-3xl">5</h2>
        <p>Premios y reconocimientos en la industria tecnológica</p>
      </div>
    </div>
  </div>

  <div>
    <h3 class="text-3xl font-semibold text-left my-10">Siempre activos</h3>
    <div class="flex flex-col gap-5">
      <div class="grid grid-cols-4 items-center">
        <div class="rounded-lg shadow-md mr-4">
          <img
            class="h-50 w-72 object-cover rounded-lg"
            src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp"
            alt="Noticia 1"
          />
        </div>
        <div class="col-span-3 card h-50 bg-base-100 shadow-sm">
          <div class="card-body">
            <h2 class="card-title">Lanzamiento de nueva plataforma</h2>
            <p>
              Anunciamos el lanzamiento de nuestra nueva plataforma de gestión
              empresarial, diseñada para mejorar la eficiencia y productividad
              de las empresas.
            </p>
            <div class="card-actions justify-start">
              <button class="btn btn-primary">Conocer más</button>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-4 items-center">
        <div class="rounded-lg shadow-md mr-4">
          <img
            class="h-50 w-72 object-cover rounded-lg"
            src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp"
            alt="Noticia 2"
          />
        </div>
        <div class="col-span-3 card h-50 bg-base-100 shadow-sm">
          <div class="card-body">
            <h2 class="card-title">Colaboración con startups innovadoras</h2>
            <p>
              Hemos iniciado colaboraciones con startups emergentes para
              impulsar la innovación y el desarrollo de nuevas tecnologías en el
              sector.
            </p>
            <div class="card-actions justify-start">
              <button class="btn btn-primary">Conocer más</button>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-4 items-center">
        <div class="rounded-lg shadow-md mr-4">
          <img
            class="h-50 w-72 object-cover rounded-lg"
            src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp"
            alt="Noticia 3"
          />
        </div>
        <div class="col-span-3 card h-50 bg-base-100 shadow-sm">
          <div class="card-body">
            <h2 class="card-title">
              Participación en conferencias internacionales
            </h2>
            <p>
              Nuestro equipo participará en varias conferencias internacionales
              para compartir conocimientos y experiencias en el desarrollo de
              software.
            </p>
            <div class="card-actions justify-start">
              <button class="btn btn-primary">Conocer más</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer
  class="footer sm:footer-horizontal bg-neutral flex justify-between text-neutral-content p-10"
>
  <aside>
    <img src="image.png" class="w-52 mb-4" />

    <p class="text-sm mt-2">&copy; 2025 Todos los derechos reservados.</p>
  </aside>
  <div class="text-center mx-10 flex flex-col gap-5">
    <p>Av. Loja y Cantuña</p>
    <p>(+593) 098 765 4321</p>
    <p>infosrmc&#64;gmail.com</p>
  </div>
  <nav class="text-center">
    <h6 class="footer-title text-center">Síguenos</h6>
    <div class="grid grid-flow-col gap-4">
      <a
        href="https://www.tiktok.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current"
        >
          <path
            d="M12.004 2h3.003c.001 2.209 1.791 4 4 4v3.003c-1.104 0-2-.896-2-2v-.003c-1.104 0-2-.896-2-2h-1.003v11.003c0 2.209-1.791 4-4 4s-4-1.791-4-4 1.791-4 4-4c.346 0 .682.045 1.003.129v2.129a2 2 0 1 0 0 3.742V2z"
          />
        </svg>
      </a>
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current"
        >
          <path
            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
          ></path>
        </svg>
      </a>
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current"
        >
          <path
            d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
          ></path>
        </svg>
      </a>
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current"
        >
          <path
            d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
          ></path>
        </svg>
      </a>
    </div>
  </nav>
</footer>
