<div class="container my-20 mx-auto">
  <div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="pc2.png" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-4xl font-bold leading-snug">
          Creamos las soluciones de software más
          <span class="text-primary"> innovadoras </span>
          !
        </h1>
        <p class="py-6">
          Somos una empresa dedicada a la creación de software y soluciones
          tecnológicas que transforman la forma en que las empresas operan y se
          conectan con sus clientes.
        </p>
        <button class="btn btn-primary">Contáctanos</button>
      </div>
    </div>
  </div>
  <div class="flex w-full flex-col">
    <div class="divider divider-primary"></div>
  </div>
  <div class="grid grid-cols-2 px-32 my-10">
    <h3 class="text-3xl font-semibold mx-10 text-left my-auto">
      Las empresas confían en nuestras soluciones
    </h3>
    <div class="carousel carousel-vertical rounded-box h-60 w-full">
      <div class="carousel-item w-full h-full">
        <img src="hogwarts.png" class="w-full" />
      </div>
      <div class="carousel-item w-full h-full">
        <img src="metro.png" class="w-full" />
      </div>
      <div class="carousel-item w-full h-full">
        <img src="2k.png" class="w-full" />
      </div>
      <div class="carousel-item w-full h-full">
        <img src="dome.png" class="w-full" />
      </div>
    </div>
  </div>

  <div class="grid gap-4 mt-10 mx-44 grid-cols-4">
    <div class="card bg-base-100 h-40">
      <div class="card-body text-center">
        <h2 class="font-semibold text-primary text-3xl">3600</h2>
        <p>Proyectos desplegados a nivel nacional e internacional</p>
      </div>
    </div>

    <div class="card bg-base-100 h-40">
      <div class="card-body text-center">
        <h2 class="font-semibold text-primary text-3xl">150</h2>
        <p>Clientes satisfechos con nuestras soluciones</p>
      </div>
    </div>
    <div class="card bg-base-100 h-40">
      <div class="card-body text-center">
        <h2 class="font-semibold text-primary text-3xl">10</h2>
        <p>Años de experiencia en el desarrollo de software</p>
      </div>
    </div>
    <div class="card bg-base-100 h-40">
      <div class="card-body text-center">
        <h2 class="font-semibold text-primary text-3xl">5</h2>
        <p>Premios y reconocimientos en la industria tecnológica</p>
      </div>
    </div>
  </div>
  <div class="divider divider-primary"></div>

  <div>
    <h3 class="text-3xl font-semibold my-10 text-center">Siempre activos</h3>
    <div class="flex flex-col gap-5 px-32">
      <div class="grid grid-cols-4 items-center">
        <div class="rounded-lg mr-4">
          <img
            class="h-50 w-72 object-fill rounded-lg"
            src="platform.png"
            alt="Noticia 1"
          />
        </div>
        <div class="col-span-3 card h-50 bg-base-100 shadow-sm">
          <div class="card-body">
            <h2 class="card-title">Lanzamiento de nueva plataforma</h2>
            <p>
              Anunciamos el lanzamiento de nuestra nueva plataforma de gestión
              empresarial, diseñada para mejorar la eficiencia y productividad
              de las empresas.
            </p>
            <div class="card-actions justify-start">
              <button class="btn btn-primary">Conocer más</button>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-4 items-center">
        <div class="rounded-lg mr-4">
          <img
            class="h-50 w-72 object-contain rounded-lg"
            src="startup.png"
            alt="Noticia 2"
          />
        </div>
        <div class="col-span-3 card h-50 bg-base-100 shadow-sm">
          <div class="card-body">
            <h2 class="card-title">Colaboración con startups innovadoras</h2>
            <p>
              Hemos iniciado colaboraciones con startups emergentes para
              impulsar la innovación y el desarrollo de nuevas tecnologías en el
              sector.
            </p>
            <div class="card-actions justify-start">
              <button class="btn btn-primary">Conocer más</button>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-4 items-center">
        <div class="rounded-lg mr-4">
          <img
            class="h-50 w-72 object-fill rounded-lg"
            src="aws.png"
            alt="Noticia 3"
          />
        </div>
        <div class="col-span-3 card h-50 bg-base-100 shadow-sm">
          <div class="card-body">
            <h2 class="card-title">
              Participación en conferencias internacionales
            </h2>
            <p>
              Nuestro equipo participará en varias conferencias internacionales
              para compartir conocimientos y experiencias en el desarrollo de
              software.
            </p>
            <div class="card-actions justify-start">
              <button class="btn btn-primary">Conocer más</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
