.carousel {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.carousel::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.carousel-inner {
  scroll-snap-type: x mandatory;
}

.carousel-item {
  scroll-snap-align: start;
}
