<div
  class="hero min-h-96 bg-base-200"
  style="
    background-image: url('bg.png');
  "
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
        Innovación en
        <span class="text-primary"> software </span>
      </h1>
    </div>
  </div>
</div>
<div class="container mx-auto my-8 px-40">
  <div class="grid grid-cols-5 gap-5 items-center">
    <div class="rounded-lg order-last shadow-md mr-4 col-span-2">
      <img
        class="h-64 w-full object-fill rounded-lg"
        src="mission.png"
        alt="Noticia 1"
      />
    </div>
    <div class="col-span-3 card h-50 bg-base-100 shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Nuestra visión</h2>
        <div class="divider divider-neutral m-0"></div>
        <p>
          En nuestra empresa, nos dedicamos a crear soluciones de software que
          transformen la forma en que las personas interactúan con la
          tecnología. Creemos en la innovación constante y en el desarrollo de
          productos que mejoren la vida diaria de nuestros usuarios.
        </p>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-5 gap-5 items-center mt-5">
    <div class="rounded-lg shadow-md mr-4 col-span-2">
      <img
        class="h-64 w-full object-fill rounded-lg"
        src="vision.png"
        alt="Noticia 2"
      />
    </div>
    <div class="col-span-3 card h-64 bg-base-100 shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Nuestra misión</h2>
        <div class="divider divider-neutral m-0"></div>
        <p>
          Nuestra misión es proporcionar herramientas y plataformas que permitan
          a los desarrolladores y empresas crear aplicaciones de alta calidad de
          manera eficiente. Nos esforzamos por ser líderes en el sector del
          software, ofreciendo productos que sean accesibles, escalables y
          fáciles de usar.
        </p>
      </div>
    </div>
  </div>
  <div class="mt-8 mb-4">
    <h3 class="text-2xl text-center font-semibold">Nuestros Servicios</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6">
      <div class="card bg-base-100 shadow-md">
        <div class="card-body items-center text-center">
          <fa-icon size="2xl" [icon]="faWindowRestore"></fa-icon>
          <h4 class="card-title text-primary">Desarrollo Web</h4>
          <p>
            Creamos sitios y aplicaciones web modernos, adaptados a las
            necesidades de tu negocio y optimizados para todos los dispositivos.
          </p>
        </div>
      </div>
      <div class="card bg-base-100 shadow-md">
        <div class="card-body items-center text-center">
          <fa-icon size="2xl" [icon]="faMobile"></fa-icon>

          <h4 class="card-title text-primary">Desarrollo Móvil</h4>
          <p>
            Desarrollamos aplicaciones móviles innovadoras para iOS y Android,
            enfocadas en la experiencia del usuario y el rendimiento.
          </p>
        </div>
      </div>
      <div class="card bg-base-100 shadow-md">
        <div class="card-body items-center text-center">
          <fa-icon size="2xl" [icon]="faGamepad"></fa-icon>
          <h4 class="card-title text-primary">Desarrollo de Videojuegos</h4>
          <p>
            Ofrecemos servicios de creación de videojuegos interactivos y
            atractivos, desde la idea inicial hasta el lanzamiento final.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
